/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 4, 2022, 11:16:54 AM
    Author     : mvjaske
*/
table, th, tr {
    border: 1px black;
          
}
body {
    background-color: blue
       
}


